certifi==2020.6.20
cffi==1.14.3
firebase-admin==4.4.0
google-api-core==1.23.0
google-api-python-client==1.12.5
google-auth==1.22.1
google-cloud-core==1.4.3
google-cloud-firestore==1.9.0
google-cloud-storage==1.32.0
httplib2==0.18.1
msgpack==1.0.0
paho-mqtt==1.5.1
pika==1.1.0
requests==2.24.0
